<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Welcome GetParameter'"></h1>
<!--<img th:src="@{img/apple.jpg}" alt="apple" />-->
<a th:href="@{test1}">test1 GET</a><br/>
<a th:href="@{test2?data1=100&data2=200&data3=300}">test2_HttpServletRequest</a><br/>
<a th:href="@{test3?data1=100&data2=200&data3=300}">test3_WebRequest</a><br/>
<a th:href="@{test4?data1=100&data2=200&data3=300&data3=400}">test4_HttpServletRequest2</a><br/>
<a th:href="@{test5/100/200/300}">test5_PathVariable</a><br/>
<a th:href="@{test6?data1=100&data2=200&data3=300&data3=400}">test6_RequestParam</a><br/>
<a th:href="@{test7?data1=100&data2=200&data3=300}">test7_ModelAttreibute</a><br/>
</body>
</html>